body {
    margin: 1vh 1vw;
    background-color: #efefef;
    font-family: Calibri, Arial;
}

header {
    position: relative;
    margin: 1vh 1vw;
    text-align: center;
    background-color: #ffffff;
}

h1 {
    margin: 0px;
    display: inline-block;
    font-size: 40px;
    text-align: center;
    font-weight: lighter;
    text-transform: uppercase;
}

h2 {
    margin: 0px 0px 0px 0px;
    display: inline-block;
    font-size: 32px;
    text-align: center;
    font-weight: lighter;
}

#logo {
    position: absolute;
    left: 8px;
    width: 48px;
}

#logo img {
    width: 100%;
}

#title {
    width: 400px;
    background-color: green;
}

#page {
    width: 400px;
    background-color: green;
}

.text {
    width: 200px;
}

nav {
    float: left;
    margin: 1vh 1vw;
    width: 28vw;
    height: 88vh;
    background-color: pink;
}

tr {
    text-align: center;
}

#navigation td {
    background-color: #ffffff;
    height: 48px;
}

#content {
    height: 480px;
}

section {
    float: right;
    width: 64vw;
    height: 88vh;
    margin: 1vh 1vw;
    background-color: pink;
}